@inherits TestComponentBase

<SnapshotTest Description="BaseSpace">
    <TestInput>
        <Space>
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Label="Primary" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Default" Label="Default" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Dashed" Label="Dashed" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Link" Label="Link" />
            </SpaceItem>
        </Space>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-space ant-space-horizontal ant-space-align-center">
            <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn ant-btn-primary"><span>Primary</span></button></div>
            <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn"><span>Default</span></button></div>
            <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn ant-btn-dashed"><span>Dashed</span></button></div>
            <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn ant-btn-link"><span>Link</span></button></div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="CustomizeSpace"
              Setup="(SnapshotTest test) => test.Services.AddSingleton<IIconService,IconServiceMock>()">
    <TestInput>
        <InputNumber Type="number" Min=0 Max=100 Step=0.5 DecimalSeparator="." DefaultValue="8" Size=@InputSize.Large Value="12" />
        <Space Size="12">
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Label="Primary" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Default" Label="Default" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Dashed" Label="Dashed" />
            </SpaceItem>
            <SpaceItem>
                <Button Type="@ButtonType.Link" Label="Link" />
            </SpaceItem>
        </Space>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-input-number ant-input-number-lg">
            <div class="ant-input-number-handler-wrap">
                <span unselectable="unselectable" role="button" aria-label="Increase Value" class="ant-input-number-handler ant-input-number-handler-up">
                    <span role="img" aria-label="up" class="ant-input-number-handler-up-inner anticon anticon-up">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="64 64 896 896" height="1em" width="1em" fill="currentColor" data-icon="up" focusable="false" aria-hidden="true">
                            <path d="M890.5 755.3L537.9 269.2c-12.8-17.6-39-17.6-51.7 0L133.5 755.3A8 8 0 0 0 140 768h75c5.1 0 9.9-2.5 12.9-6.6L512 369.8l284.1 391.6c3 4.1 7.8 6.6 12.9 6.6h75c6.5 0 10.3-7.4 6.5-12.7z"></path>
                        </svg>
                    </span>
                </span>
                <span unselectable="unselectable" role="button" aria-label="Decrease Value" class="ant-input-number-handler ant-input-number-handler-down">
                    <span role="img" aria-label="down" class="ant-input-number-handler-down-inner anticon anticon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="64 64 896 896" height="1em" width="1em" fill="currentColor" data-icon="down" focusable="false" aria-hidden="true">
                            <path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path>
                        </svg>
                    </span>
                </span>
            </div>
            <div class="ant-input-number-input-wrap">
                <input type="number" class="ant-input-number-input" role="spinbutton" aria-valuemin="0" aria-valuemax="100" aria-valuenow="8.0" autocomplete="off" max="100" min="0" step="0.5" value="8.0">
            </div>
        </div>
        <div class="ant-space ant-space-horizontal ant-space-align-center">
            <div class="ant-space-item" style="margin-right:12px;">
                <button type="button" class="ant-btn ant-btn-primary">
                    <span>Primary</span>
                </button>
            </div>
            <div class="ant-space-item" style="margin-right:12px;">
                <button type="button" class="ant-btn">
                    <span>Default</span>
                </button>
            </div>
            <div class="ant-space-item" style="margin-right:12px;">
                <button type="button" class="ant-btn ant-btn-dashed">
                    <span>Dashed</span>
                </button>
            </div>
            <div class="ant-space-item" style="margin-right:12px;">
                <button type="button" class="ant-btn ant-btn-link">
                    <span>Link</span>
                </button>
            </div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="VerticalSpace">
    <TestInput>
        <Space Direction="vertical" Align="center" Size="large">
            <ChildContent>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Label="Primary" />
                </SpaceItem>
                <SpaceItem>
                    <Space Align="center" Size="small">
                        <SpaceItem>
                            <Button Type="@ButtonType.Dashed" Label="Dashed" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Link" Label="Link" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Default" Label="Default" />
                        </SpaceItem>
                    </Space>
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Dashed" Label="Dashed" />
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Link" Label="Link" />
                </SpaceItem>
            </ChildContent>
        </Space>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-space ant-space-vertical ant-space-align-center">
            <div class="ant-space-item" style="margin-bottom:24px;"><button type="button" class="ant-btn ant-btn-primary"><span>Primary</span></button></div>
            <div class="ant-space-item" style="margin-bottom:24px;">
                <div class="ant-space ant-space-horizontal ant-space-align-center">
                    <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn ant-btn-dashed"><span>Dashed</span></button></div>
                    <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn ant-btn-link"><span>Link</span></button></div>
                    <div class="ant-space-item" style="margin-right:8px;"><button type="button" class="ant-btn"><span>Default</span></button></div>
                </div>
            </div>
            <div class="ant-space-item" style="margin-bottom:24px;"><button type="button" class="ant-btn ant-btn-dashed"><span>Dashed</span></button></div>
            <div class="ant-space-item" style="margin-bottom:24px;"><button type="button" class="ant-btn ant-btn-link"><span>Link</span></button></div>
        </div>
    </ExpectedOutput>
</SnapshotTest>