<Codebox Title="Vertical">
    <Description>
        <p>
            Vertical space
        </p>
    </Description>
    <Demo>
        <Space Direction="vertical" Align="center" Size="large">
            <ChildContent>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" Label="Primary" />
                </SpaceItem>
                <SpaceItem>
                    <Space Align="center" Size="small">
                        <SpaceItem>
                            <Button Type="@ButtonType.Dashed" Label="Dashed" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Link" Label="Link" />
                        </SpaceItem>
                        <SpaceItem>
                            <Button Type="@ButtonType.Default" Label="Default"/>
                        </SpaceItem>
                    </Space>
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Dashed" Label="Dashed" />
                </SpaceItem>
                <SpaceItem>
                    <Button Type="@ButtonType.Link" Label="Link" />
                </SpaceItem>
            </ChildContent>
        </Space>
    </Demo>
</Codebox>