@namespace Append.AntDesign.Components
@inherits AntComponent

<CascadingValue Value="@this">
    <div @attributes="@Attributes" style="@Style" class="@classes">
        @ChildContent
        @foreach (var option in Options)
        {
            <Checkbox @key="@(option.Value ?? option.Label)" Value="@(option.Value ?? option.Label)" Disabled="@option.Disabled">
                @option.Label
            </Checkbox>
        }
    </div>
</CascadingValue>